


/* I could  definitely use SASS to dry this up */


@keyframes turnGreen {
  10% {background-color: hsl(140, 50%, 50%)}
  90% {background-color: hsl(140, 50%, 50%)}
  100% {background-color: hsl(140, 50%, 30%)}
}

@keyframes turnYellow {
  10% {background-color: hsl(50, 50%, 50%)}
  90% {background-color: hsl(50, 50%, 50%)}
  100% {background-color: hsl(50, 50%, 30%)}
}

@keyframes turnRed {
  10% {background-color: hsl(0, 50%, 50%)}
  90% {background-color: hsl(0, 50%, 50%)}
  100% {background-color: hsl(0, 50%, 30%)}
}

 

$lightWH: 100;


@mixin light($hue) {
  background-color: hsl($hue, 50%, 30%);
  border-top: 5px solid;
  width: $lightWH;
  height: $lightWH;
  border-radius: 50%;
  margin: 50px 20px;
}

#stopLight
{

  width: $lightWH * 1.4;
  background-color: hsl(50, 50%, 40%);
}


#green
{
@include light(140);
animation-name: turnGreen;
animation-duration: 10s;
}

#yellow
{
@include light(50);
animation-name: turnYellow;
animation-duration: 5s;
animation-delay: 10s;
}

#red
{
@include light(0);
animation-name: turnRed;
animation-duration: 10s;
animation-delay: 15s;
}
